#UIcontainer {
  z-index: 10;
}

.UIoverlay {
  z-index: 10;
}

.button-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #1c2331;
}

.button-list-item {
  margin-top: 0.5rem;
}

.button-anchor {
}

#right-buttons-list {
  position: absolute;
  right: 1.5rem;
  bottom: 2.5rem;
}

#profile-button {
  position: absolute;
  left: 1.5rem;
  bottom: 2rem;
}
