.ui-panel {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;

  width: 100%;
}

.issue-strip {
  background-color: rgba(160, 160, 160, 0.418);
}

.btn-issue {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.75rem;
  border-radius: 40%;
  margin: 0;
  background-color: black !important;
}

.btn-icon {
  font-size: 2.75rem;
  margin-bottom: 0.25rem;
}

.issue-panel {
  opacity: 0;
  visibility: hidden;

  transform-origin: center;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 800px) {
  .issue-panel {
    width: 25vw;
  }
  .issue-strip {
    background-color: rgba(160, 160, 160, 0);
  }
}

.open.issue-panel {
  opacity: 1;
  visibility: visible;
  transform-origin: center;
}
