/* ReportIssueButton */
.text-font {
  font-size: 1.25rem;
}
.reportBtn {
  /* text */
  font-size: 1.5rem;
  color: black;

  /* btn size */

  /* background */
  background-color: white;
  /* background-color: rgba(11, 3, 45, 0.95); */

  padding: 0.25rem;
  border-radius: 1.5rem;
}

.reportBtnInnerContainer {
  padding: 0.25rem;
}
