.image-input {
  visibility: hidden;
  position: absolute;
}

.img-upload {
  max-height: 20vh;
}

.upload-icon {
  color: white;
  font-size: 2rem;
}

.uploadBtnContainer {
  display: inline-block;

  /* display: inline-block; */
  padding: 0.5rem;
}

.reportFormBtnContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.reportFormBtn {
  width: 4rem;
  height: 1rem;
  background-color: white;
}

.headerReportFormContainer {
  border-bottom: 2px solid white;
}
.headerReportFormContainer h3 {
  color: white;
}
