.image-input {
  /* visibility: hidden; */
  display: none;
  position: absolute;
}

.img-upload {
  max-height: 20vh;
  object-fit: cover;
}

.upload-icon {
  color: white;
  font-size: 2rem;
}

.uploadBtnContainer {
  display: inline-block;

  /* display: inline-block; */
  padding: 0.5rem;
}

.btn-close {
  position: absolute;
  top: -3rem;
  right: 1rem;
  z-index: 10;
}
div.btn-close > button {
  border-radius: 15px;
}

.reportFormBtnContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.reportFormBtn {
  width: 4rem;
  height: 1rem;
  background-color: white;
}

.headerReportFormContainer {
  border-bottom: 2px solid white;
}
.headerReportFormContainer h3 {
  color: white;
}
